<% if (post.prev || post.next){ %>
<nav class="blog-pagination">
    <div>
  <% if (post.prev){ %>

      <a class="btn btn-success btn-<%= theme.btn_nav %> blog-pagination__btn blog-pagination__btn--prev" href="<%- url_for(post.prev.path) %>">
          <i class="ti-arrow-left"></i>
          <% if (post.prev.title){ %>
          <span class="blog-pagination__btn-label"><%= post.prev.title %></span>
          <% } else { %>
          <span class="blog-pagination__btn-label">Newer<</span>
          <% } %>
      </a>

  <% } %>
    </div>
      <% if (post.next){ %>
    <div>
      <a class="btn btn-success btn-<%= theme.btn_nav %> blog-pagination__btn blog-pagination__btn--next" rel="next" href="<%- url_for(post.next.path) %>">
          <span class="blog-pagination__btn-label"><%= post.next.title %></span>
          <i class="ti-arrow-right"></i>
      </a>
    </div>
  <% } %>

</nav>
<% } %>

